<div class="page col-sm-6 offset-3">
  <section class="card">
    <div class="card-header">
      <div class="float-left"><h3>{{title}}</h3></div>
    </div>
    <div class="card-block">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group" *ngIf="isCreate">
          <label for="username" class="form-control-label">名前:</label>
          <input type="text" class="form-control" required
            id="name" name="name" #v_name="ngModel" [(ngModel)]="user.name" />
          <div class="alert alert-danger" *ngIf="v_name.errors && (v_name.dirty || v_name.touched)">
            <div [hidden]="!v_name.errors.required ">必須項目</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="form-control-label">メールアドレス:</label>
          <input type="email" class="form-control" required pattern="[A-Za-z0-9.\-]+@[A-Za-z0-9\-]+[.][A-Za-z0-9.\-]+"
            id="email" name="email" #v_email="ngModel" [(ngModel)]="user.email" />
          <div class="alert alert-danger" *ngIf="v_email.errors && (v_email.dirty || v_email.touched)">
            <div [hidden]="!v_email.errors.required ">必須項目</div>
            <div [hidden]="!v_email.errors.pattern ">メールフォーマットエラー</div>
          </div>
          <div>{{v_email.valied}}</div>
        </div>
        <div class="form-group">
          <label for="password" class="form-control-label">パスワード:</label>
          <input type="password" class="form-control" required minlength="8"
            id="password" name="password" #v_pass="ngModel" [(ngModel)]="user.password" />
          <div class="alert alert-danger" *ngIf="v_pass.errors && (v_pass.dirty || v_pass.touched)">
            <div [hidden]="!v_pass.errors.required ">必須項目</div>
            <div [hidden]="!v_pass.errors.min_length ">８文字以上</div>
          </div>
          <div>{{v_pass.valied}}</div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <button type="button" class="btn btn-outline-primary" (click)="goCreate()" *ngIf="!isCreate">新規登録</button>
        <button type="button" class="btn btn-outline-primary" (click)="reset()" *ngIf="isCreate">戻る</button>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!v_email.valied && !v_pass.valied" *ngIf="!isCreate">ログイン</button>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!loginForm.form.valied" *ngIf="isCreate">登録</button>
      </div>
    </div>
  </section>
</div>
