<div class="page">
  <section class="card">
    <div class="card-header">
      <div class="float-left"><h3>{{title}}</h3></div>
      <div class="float-right">
        <button class="btn btn-outline-primary" type="button" (click)="logout()">ログアウト</button>
        <button class="btn btn-outline-primary" type="button" (click)="login()">ログイン</button>
      </div>
    </div>
    <div class="card-block">
      <ng-container *ngFor="let item of items | async">
      <div class="media">
        <div class="media-left" *ngIf="item.user.uid !== current_user.uid">
          <a href="#" class="icon-rounded">{{item.initial}}</a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{item.name}} {{item.date | chatDate}}</h4>
          <div>{{item.content}}</div>
        </div>
        <div class="media-right" *ngIf="item.user.uid === current_user.uid">
          <a href="#" class="icon-rounded">{{item.initial}}</a>
        </div>
      </div>
      <hr>
      </ng-container>
    </div>
  </section>
  <section>
    <form class="chart-form">
      <div class="input-group">
        <input type="text" class="form-control"
        [(ngModel)]="content"
        name="comment"
        placeholder="コメント">
        <span class="input-group-btn">
          <button class="btn btn-outline-info" type="button" (click)="save(content)">送信</button>
        </span>
      </div>
    </form>
  </section>
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">ログイン</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="userid" class="form-control-label">ユーザーID:</label>
            <input type="text" class="form-control" id="userid" required>
          </div>
          <div class="form-group">
            <label for="password" class="form-control-label">パスワード:</label>
            <input type="password" class="form-control" id="password" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary">登録する</button>
        <button type="button" class="btn btn-outline-primary">ログイン</button>
      </div>
    </div>
  </div>
</div>
