<div class="page">
  <section class="card">
    <div class="card-header">
      Angula4 Sample
    </div>
    <div class="card-block">
      <ng-container *ngFor="let item of items | async">
      <div class="media">
        <div class="media-left" *ngIf="item.user.uid !== current_user.uid">
          <a href="#" class="icon-rounded">{{item.initial}}</a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{item.name}} Date: {{item.date | chatDate}}</h4>
          <div>{{item.content}}</div>
        </div>
        <div class="media-right" *ngIf="item.user.uid === current_user.uid">
          <a href="#" class="icon-rounded">{{item.initial}}</a>
        </div>
      </div>
      <hr>
      </ng-container>
    </div>
  </section>
  <section>
    <form class="chart-form">
      <div class="input-group">
        <input type="text" class="form-control"
        [(ngModel)]="content"
        name="comment"
        placeholder="Comment" ><!--ngModel追加-->
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" (click)="save(content)">送信</button>
        </span>
      </div>
    </form>
  </section>
</div>
